/* file for Flautissimo website styling */


body{
    color: #535353;
}

a:link, a:visited {
    
    color: #303030;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }


#links{
 font-weight: bold;
 font-variant:small-caps;   
 color: #303030;
 text-decoration: none;
}


