/* file for Flautissimo website styling */


h3r {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #d5000d;
}


h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #303030;
}

body{
    color: #535353;
}

#banner{
color: #71797E
}
