/* file for Flautissimo website styling */

body{
    color: #535353;
}

a:link, a:visited {
    color: #303030;
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: red;
  }


#links{
 font-weight: bold;
 font-variant:small-caps;   
 color: #303030;
 text-decoration: none;
}

header {
    padding-top: 35px;
    padding-bottom: 0px;
}

h3 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #d5000d;
}

#banner{
    margin-bottom: 0px;
}