<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" type="text/css" href="/Flautissimo/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Flautissimo/favicon.ico" >
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }}</title>



  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <div id= "logo" align="center"> <!-- div includes logo and next performance banner-->
            <img src="/Flautissimo/imgs/logo.png" alt="Flautissimo logo" height = 175 style = "margin-bottom: 1px">

            <div id = "banner">
            <p>
              <h3><em><strong>Next Performance: Saturday 25 November at St Martin in the Woods SO53 5AG</em></strong></h3>
            </p>
            </div> <!-- end of banner div-->
         <!-- <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
         <!-- <h2>{{ page.description | default: site.description | default: site.github.project_tagline }}</h2> -->
         </div><!--end of logo div -->
        </header>
<!--
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section> -->

        <div id = "links" align = "center">

          <a href= "https://lynneflute.github.io/Flautissimo/index"> Welcome</a>
          <a href= "https://lynneflute.github.io/Flautissimo/about"> Join Us</a>
          <a href= "https://lynneflute.github.io/Flautissimo/performances"> Performances</a>
          <a href= "https://lynneflute.github.io/Flautissimo/musicdirector"> Music Director</a>
          <a href= "https://lynneflute.github.io/Flautissimo/contact"> Contact Us</a>

        </div>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <div id = "socials" align = "center">
          <p>Why not follow us on social media?</p>
            <a href = "https://www.facebook.com/FlautissimoSouthampton"><img src="/Flautissimo/imgs/facebook.png" width="48" height="48" alt="Facebook"> </a>
            <a href = "https://www.instagram.com/flautissimo.southampton/"><img src="/Flautissimo/imgs/instagram.png" width = "48" height="48" alt="Instagram"></a>
            <a href = "https://twitter.com/FlautissimoUK"><img src="/Flautissimo/imgs/twitter.png" width="48" height="48" alt="Twitter"></a>
            <a href = "https://www.youtube.com/@FlautissimoUK"><img src="/Flautissimo/imgs/youtube.png"  width="48" height="48" alt="Youtube"></a>

        </div> <!--close socials div-->
          



          <!--
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by Lynne Cruickshank
          <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>-
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        -->
        </footer>

      </div>
    </div>
  </body>
</html>